[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/minetest-mods/pipeworks
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/intllib"]
	path = mods/intllib
	url = https://github.com/minetest-mods/intllib
